#root{
  font-weight: medium;
  font-size: 20px;
  font-family: 'Fira Sans';
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(0, 0, 0);
}

#bdy{
  background-color: rgba(65, 114, 76, 0.4);
  max-width: 1000px;
  margin: auto;
}

.logo{
  width: 200px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px; 
  z-index: 1000;
}

.navbar-logo {
  flex: 0.1;
}

.navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-collapse {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.lang-btn {
  margin-left: 10px; 
  padding: 0.2em;
  float: right;
}

@media(max-width: 500){
  .carousel{
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    justify-content: flex-start;
  }

  .navbar-collapse {
    justify-content: flex-start;
  }
}

.about-full{
  padding-top: 6em;
}

.about{
  font-weight: medium;
  font-size: 20px;
  font-family: 'Fira Sans';
}

.desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin: 20px auto; 
  max-width: 100%; 
}

.desc-img {
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.title{
  padding-top: 5px;
  text-align: center;
  font-size: 45px;
}

.carousel{
  max-width: 80%;  
  max-height: 80%;
  margin: 0 auto;
}

.carousel img {
  object-fit: cover; /* Ensures the images don't get stretched */
  height: 100%; /* Ensures the image takes up the full height of the carousel */
  width: 100%;
}

.desc-text{
  max-width: 600px;
  text-align: justify;
  padding: 1em;    
  justify-content: center;
}

.text{
  display: flex;
  text-align: justify;
  align-items: center;
  max-width: 650px;
  margin: auto;
}

.logo2{
  max-width: 300px;
  display: flex;
  align-items: center;
  margin: auto;
}

.para{
  padding: 1em;
}